header {
  position: relative;
  padding: 20px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  .website--name {
    font-size: 20px;
    font-weight: bold;
  }
  .span {
    color: #17ab00;
  }
  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        margin-left: 50px;
        a {
          text-decoration: none;
          color: black;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
  .login-btn {
    padding: 10px 20px;
    border: none;
    background-color: #17ab00;

    a {
      text-decoration: none;
      color: white;

      font-weight: bold;
    }
  }
}

.home--page {
  position: relative;
  height: 100vh;
}
.column--one {
  overflow: hidden;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr;

  .title--column {
    justify-self: center;
    align-self: center;
    text-align: center;
    .title {
      font-size: 70px;
      font-weight: bold;
    }
    .contact-us-btn {
      padding: 15px 150px;
      background-color: transparent;
      color: #17ab00;
      font-weight: bold;
      border: 1px solid #17ab00;
    }
  }
  .title--column h1:nth-child(3) {
    color: green;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dashboard--list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;

  li {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: rgb(213, 213, 213);
    gap: 30px;
    i {
      font-size: 40px;
      color: #17ab00;
    }
    .number {
      font-size: 25px;
    }
  }
}

//toggle

.toggles {
  display: none;
}
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #17ab00;
  border-radius: 5px;
  transition-duration: 0.3s;
}

/* #checkbox:checked + .toggle .bars {
  margin-left: 13px;
} */

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}
/* #checkbox:checked + .toggle #bar3 {
  transform: rotate(90deg);
  transition-duration: .3s;
  transform-origin:right;
} */
